<meta charset="utf-8">
<title>vue-virtual-scroll demo</title>
<script src="./vue-virtual-scroll.umd.js"></script>

<link rel="stylesheet" href="./vue-virtual-scroll.css">


<script>
console.log(vue-virtual-scroll)
</script>
