<template functional>
  <div class="filter">
    <h3>Settings:</h3>
    <slot />
    <div class="filter__item filter__item--total">
      <h3>Results:</h3>
      <span>Visible items: <strong>{{ props.visibleItems }}</strong></span>
      <span>Rendered items: <strong>{{ props.rendered }}</strong></span>
      <span>Selected items:
            <button @click="listeners['clear']" :disabled="!props.selected.length" v-text="'Clear all'"/>
          </span>
      <transition-group tag="ul" name="list-complete" >
        <li v-for="item in props.selected" :key="item" v-text="item" mode="out-in"/>
        <li class="empty-state" key="nothing" v-if="!props.selected.length">Nothing were selected...</li>
      </transition-group>
    </div>
  </div>
</template>

<style lang="scss">
.filter {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 100%;
  justify-content: flex-start;
  margin: 1rem 1rem auto;
  padding: 1rem 2.5rem;
  border-radius: .5rem;
  background-color: #2c3e50;
  color: #fff;
  position: relative;
  box-shadow: 2px 7px 12px rgba(44, 62, 80, .15);

  &__divider {
    content: '';
    height: 1px;
    width: calc(100% - 1rem);
    position: absolute;
    left: .5rem;
    top: 0;
    background-color: rgba(255, 255, 255, .75);
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    &--row {
      flex-direction: row;
      justify-content: space-around;
    }

    &--total {
      margin-top: .75rem;
      border-top: 2px solid rgba(255, 255, 255, .35);
      text-align: left;
      position: relative;

      & > span {
        display: flex;
        justify-content: space-between;
      }

      button {
        font-size: .8em;
        border-radius: .25rem;
        border: 1px solid rgba(255, 255, 255, 1);
        color: #ffffff;
        transition: .3s ease-in-out;
        background-color: #2c3e50;

        &:disabled {
          opacity: .5;
        }
      }

      & > span:not(:last-child) {
        margin: .5rem 0;
      }

      & > ul {
        margin: 0;
        padding-left: 1.5rem;
        font-size: .8em;

        .empty-state {
          font-style: italic;
          opacity: .75;
          transition: all .3s;
        }

        & > li {
            transition: all .3s;
            display: inline-block;
            margin-right: .5rem;
        }
      }
    }
  }
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(1rem);
}
.list-complete-leave-active {
  position: absolute;
}
</style>