<template functional>
  <div class="filter__item">
    <input class="filter__slider"
           type="range"
           :id="props.name"
           v-bind="props"
           @input="listeners['input']($event.target.value)"
    >
    <label :for="props.name">{{ props.title }} {{ props.value }}</label>
  </div>
</template>