.v-virtual-scroll {
  display: block;
  flex: 1 1 auto;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  position: relative;

  &__container {
    display: block;
  }

  &__item {
    left: 0;
    position: absolute;
    right: 0;
  }
};
