<template functional>
  <div class="list-item">
    <label :for="'check' + props.index" class="list-item__check">
      <input
          class="list-item__input"
          type="checkbox"
          :id="'check' + props.index"
          :value="props.item"
          :checked="props.checked"
          @change="listeners['change']"
      />
      <span class="list-item__text">I'm item number {{ props.index }}</span></label>
  </div>
</template>

<style lang="scss">
.list-item {
  $this: &;
  padding: 0 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;

  &__input {
    margin-right: .75rem;

    &:checked  + #{$this}__text {
      color: dodgerblue;
    }
  }

  &__check {
    padding: .25rem 0;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    transition: .3s ease-in-out;
  }
}
</style>