<template>
  <div id="app">
    <h1>Infinite virtual scroller</h1>
    <div class="content">
      <sidebar-filter
          @clear="clearSelected"
          :visible-items="visibleItems"
          :rendered="rendered"
          :selected="selected"
      >
        <sidebar-filter-item
            v-for="filter in settings" :key="filter.name"
            v-bind="filter"
            v-model="filter.value"
        />
      </sidebar-filter>
      <div class="list">
        <h3>Current root container:</h3>
        <v-virtual-scroll
            :height="settings.height"
            :items="itemsList"
            :item-height="settings.itemHeight"
            :threshold="settings.threshold"
            :per-row="settings.perRow"
            calc-dynamic
        >
          <template v-slot:default="{ item, index }">
            <list-item
                :index="index"
                :item="item"
                :checked="selected.includes(item)"
                @change="handleCheck"
            />
          </template>
        </v-virtual-scroll>
      </div>
    </div>
  </div>
</template>

<script>
import VVirtualScroll from "@/components/v-virtual-scroll";
import SidebarFilter from '@/components/filter/sidebar-filter';
import SidebarFilterItem from '@/components/filter/sidebar-filter-item';
import ListItem from '@/components/list-item';

export default {
  name: 'App',

  components: {
    VVirtualScroll, SidebarFilter, SidebarFilterItem, ListItem,
  },

  data: () => ({
    settings: [
      {
        name: 'n',
        title: 'Items Amount: ',
        min: 2,
        max: 10000,
        value: 5000,
      },
      {
        name: 'height',
        title: 'Container height: ',
        min: 100,
        max: 600,
        value: 200,
      },
      {
        name: 'itemHeight',
        title: 'Item height: ',
        min: 0,
        max: 50,
        value: 26,
      },
      {
        name: 'threshold',
        title: 'Threshold: ',
        min: 0,
        max: 20,
        value: 0,
      },
      {
        name: 'perRow',
        title: 'Items per row:',
        min: 1,
        max: 5,
        value: 1,
      },
    ],
    rendered: 0,
    selected: [],
    items: new Array(10000)
        .fill(null)
        .map((item, index) => 'Item ' + (index + 1)),
  }),

  computed: {
    itemsList () {
      return this.items.slice(0, this.settings.n);
    },

    visibleItems () {
      const column = (Number(this.settings.height) / Number(this.settings.itemHeight)).toFixed(0);

      return  column * this.settings.perRow;
    },

  },

  methods: {
    calcRenderedChilds () {
      this.$nextTick(() => {
        this.rendered = this.$el.querySelectorAll('.list-item').length
      });
    },

    clearSelected () {
      this.selected = this.selected.slice(0,0);
    },

    handleCheck (e) {
      const item = e.currentTarget;

      item.checked
          ? this.selected.push(item.value)
          : this.selected.splice(this.selected.indexOf(item.value), 1);
    },

    extendArray (arr) {
      return new Proxy(arr, {
        get(target, prop) {
          const result = target.find(el => el.name === prop);
          if (result) return result.value;

          if (prop in target) return target[prop];
        },
      })
    },
  },

  created() {
      this.settings = this.extendArray(this.settings);
  },

  watch: {
    settings: {
      handler:'calcRenderedChilds',
      immediate: true,
      deep: true,
    },
  },
}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  h3 {
    width: 100%;
    text-align: left;
  }
}
.content {
  display: flex;
  margin: 1rem auto 3rem;
  flex-direction: row;
  width: 100%;
  max-width: 80rem;
  justify-content: center;
  flex-grow: 1;
}
.list, .filter {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 100%;
  justify-content: flex-start;
  margin: 1rem 1rem auto;
  padding: 1rem 2.5rem;
}
.list {
  max-width: 40rem;
  border-radius: .5rem;
  padding-bottom: 2rem;
  border: 1px solid #2c3e50;
  & > div {

  }
  &__item {
    padding: 0 1rem;
    text-align: left;
    display: flex;
    align-items: center;

    input {
      margin-right: .75rem;
    }
  }
}
.filter {
  border-radius: .5rem;
  background-color: #2c3e50;
  color: #fff;
  position: relative;
  box-shadow: 2px 7px 12px rgba(44, 62, 80, .15);

  &__divider {
    content: '';
    height: 1px;
    width: calc(100% - 1rem);
    position: absolute;
    left: .5rem;
    top: 0;
    background-color: rgba(255,255,255, .75);
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    &--row {
      flex-direction: row;
      justify-content: space-around;
    }

    &--total {
      margin-top: .75rem;
      border-top: 2px solid rgba(255,255,255, .35);
      text-align: left;
      position: relative;
      & > span {
        display: flex;
        justify-content: space-between;
      }
      button {
        font-size: .8em;
        border-radius: .25rem;
        border: 1px solid rgba(255,255,255, 1);
        color: #ffffff;
        transition: .3s ease-in-out;
        background-color: #2c3e50;
        &:disabled {
          opacity: .5;
        }
      }
      & > span:not(:last-child) {
        margin: .5rem 0;
      }
      & > ul {
        margin: 0;
        padding-left: 1.5rem;
        font-size: .8em;

        &:empty {
          padding-left: .5rem;

          &:after {
            content: 'Nothing were selected...';
            font-style: italic;
            opacity: .75;
          }
        }
      }
    }
  }
}
.item-check {
  padding: .25rem 0;
  width: 100%;
  span {
    transition: .3s ease-in-out;
  }
  input:checked  + span{
    color: dodgerblue;
  }

  &:hover {
    cursor: pointer;
  }
}
</style>
